/* the font wasa taken from http://asherahswimwear.com/skin/frontend/default/swimwear/fonts/ */
@font-face {
  font-family: 'MinionPro Bold';
  font-weight: bold;
  src: url('../fonts/MinionPro-Semibold.woff') format('woff');
}

.stub {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-width: 400px;

  font-family: 'MinionPro Bold', 'Times New Roman', Times, serif;
  color: #333333;
}

.header {
  display: flex;
  flex-direction: column;

  padding-top: 90px;
  align-items: center;
}

.header__logo {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 100px;
  text-align: center;

  text-transform: uppercase;
}

.header__text {
  max-width: 550px;
  font-size: 40px;

  text-align: center;
  line-height: 40px;
}

.contact {
  padding-top: 30px;
}

.contact__email {
  font-size: 30px;

  color: #333333;
  text-decoration: none;
}